<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between" style="max-width: 100%;">
        <div class="col-md-4" style="text-align: left">
            <a class="py-2 d-none d-md-inline-block toggle-sidebar" href="#">manage</a>
        </div>
        <div class="col-md-4" style="text-align: center">
            <!-- <a class="py-2 d-none d-md-inline-block" href="#">Tour</a> -->
            <a class="navbar-brand py-2 d-none d-md-inline-block" href="#">Document</a>
        </div>
        <div class="col-md-4" style="text-align: right">
            <a class="py-2 d-none d-md-inline-block" href="#">H!, Yuki</a>
        </div>
    </div>
</nav>